/* 
    Created on : 28 mar. 2022, 12:47:15 p. m.
    Author     : neury-dev
*/
/* Maquetado
-------------------------------------------------------------------------------*/
.n-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% auto;
    grid-gap: 0.625em;
}
.n-grid > .area_1 { grid-area: 1 / span 4 / 2 / 5; }
.n-grid > .area_2 { grid-area: 2 / span 4 / 3 / 5; }

/* main
--------------------------------------------------------------------------------*/
.n-grid > .area_2 {
    display: flex;
    justify-content: center;
    
    margin: 64px 0px 0px;
}
.n-grid > .area_2 > main > form > input {
    width: 350px;
    border: 1px solid var(--n-color-dos);
    border-radius: 8px;
    padding: 8px;
}

/* formulario
--------------------------------------------------------------------------------*/
form {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-0%);
}
label  {
    color: var(--n-color-dos);
    font-weight: bold;
}
input,
textarea {
    color: white;
    background-color: #373538;
    caret-color: white;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    padding: 0.5em 0.5em;
    outline: none
}
textarea {
    resize: none;
    width: 204px;
}
input[type="submit"] {
    width: 100%;
    color: #1c1d22;
    background: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 0.5em 0.5em;
    cursor: pointer;
    outline: none;
}




