<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/i_img/logo.jpg" type="image/jpg" sizes="16x16">
    <!--
        CSS 
    -->
    <link rel='stylesheet' href='/i_css/root.css' />
    <link rel='stylesheet' href='/i_css/header.css' />
    <link rel='stylesheet' href='/i_css/index.css' />
</head>
<body>
<section class="n-grid">
<section class="area_1">
    <%- include('seccion/header'); %>
</section>
<!------------------------------------------------------------------------------
main
------------------------------------------------------------------------------->
<section class="area_2">
    <main>
        <p id="res"></p>
        <form method="POST" name="ia" id="ia">
            <label for="id" hidden="">
                <input type="text" name="id" id="id" value="0" required="">
            </label>
            <label for="nombre">Nombre</label><br>
                <input type="text" name="nombre" id="nombre" placeholder="Ingresar nombre.." 
                   pattern="([a-zA-Z]).{2,30}" title="Solo se acceptan 30 caracteres y tienen que ser letras."
                   maxlength="30" required=""><br>
            <label for="correo">Correo</label><br>
                <input type="email" name="correo" id="correo" placeholder="Ingresar correo..."
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" 
                    title="El correo no es correcto." required=""><br>
            <label for="codigo">Dirección</label><br>
                <input type="text" name="direccion" id="direccion" placeholder="Ingresar dirección..." 
                    maxlength="30" required=""><br>
            <input type="submit" name="submit" id="submit" value="Insertar">
        </form>
    </main>
</section>
</section>
<script src="l/i/header.js"></script>
<script src="l/l/index.js"></script>
</body>
</html>
