<!------------------------------------------------------------------------------
nav
------------------------------------------------------------------------------->
<nav>
    <section>
        <h1 class="titulo"><%= title %></h1>
    </section>
    <section>
        <ul class="nav_1">
            <li><a href="/">Inicio</a></li>
            <li><a href="/panel_de_control">Panel</a></li>
            <li><a href="/">..........</a></li>
        </ul>
        <section class="nav_2">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/panel_de_control">Panel</a></li>
                <li><a href="javascript:void(0);" id="nav_tablet">&#9776;</a></li>
            </ul>
            <section class="nav_tablet">
                <ul>
                    <li><a href="/">..........</a></li>
                </ul>
            </section>
        </section>
        <section class="nav_3">
            <a href="javascript:void(0);" id="nav_celular">&#9776;</a>
            <section class="minimo">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/panel_de_control">Panel</a></li>
                    <li><a href="/">..........</a></li>
                </ul>
            </section>
        </section>
    </section>
</nav>
